/* feedback section start  */
/* #feedback{
    padding: 4% 10%;
    background-color: rgb(158, 159, 255);
}
.feedback-img{
    height: 200px;
    width:250px;
    margin-bottom: 5px;
}
.carousel-item{
    text-align: center;
    padding: 7% 15%;
    font-style: italic;
    font-size: 1.2rem;
}
.text{
    margin-top: 50px;
} */
/* feedback section end  */

.feedback-img{
    height: 200px;
    width:250px;
    margin-bottom: 5px;
}
.text{
    margin-top: 50px;
}