.row ul li{
    margin-right: 10px;
    list-style-type: none;
}

.title{
    background-color: rgb(251, 197, 176);
}
.bottom{
    background-color: rgb(216, 209, 216);
}
.bottom button{
    height: 45px;
}

/* Css for arrow buttton */

  .multiply-button {
    display: table;
    background: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(61, 63, 69);
    padding: 0;
  }
  .multiply-button-content {
    display: table-cell;
    background: rgb(255, 255, 255);
    padding: 10px 9px;
    border: solid 1px #ffffff;
    border-right: none !important;
  }
  .multiply-button-arrow {
    display: table-cell;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 12px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
  }


  /* css for question answer icon */
  /* Correct Answer icon  */
  .signicon{
    margin-right: 30px;
    margin-top: 5px;
    font-size: 10px;
    padding: 2px;
  }
  /* Wrong Answer icon */
  .timeicon{
    margin-right: 30px;
    margin-top: 5px;
    font-size: 9px;
    padding: 3px;
  }
  /* css for question answer*/
  .form-check-input{
    margin-left: 1.75rem !important;
    margin-top: 0.5rem !important;
  }

